- name: configure wifi interface
  uci:
    command: set
    key: '{{ item }}'
    value:
      country: 'DE'
  loop:
  - wireless.radio0
  - wireless.radio1

- name: configure channel width 2,4
  uci:
    command: set
    key: wireless.radio1
    value:
      htmode: 'HT20'

- name: configure channel width 5
  uci:
    command: set
    key: wireless.radio0
    value:
      htmode: 'VHT20'

- name: Configure channel
  uci:
    command: set
    key: wireless.radio0
    value:
      channel: "{{ auto_channel_5 }}"

- name: Configure channel
  uci:
    command: set
    key: wireless.radio1
    value:
      channel: "{{ auto_channel_24 }}"

- name: Set maxassoc on wireless interfaces
  uci:
    command: set
    key: '{{ item }}'
    value:
      maxassoc: 80
  loop:
  - wireless.default_radio0
  - wireless.default_radio1

- name: commit changes
  uci:
    command: commit
  notify: reload wifi
